<div *ngIf="!hasError">
  <div class="information">
      <div *ngIf="ruralBuilding" style="text-align: center;">
        <h4>Rural property. Please try with another location</h4>
      </div>
    <div *ngIf="building && !ruralBuilding && selectBuilding" >
      <div *ngIf="building && building.country && building.year" fxLayoutAlign="end">
        <button [disabled]="!mapControl" class="btn calculateTyp" (click)="showMap();"  routerLink='/home' routerLinkActive='active' >
          <span><i class="fa fa-map-o" aria-hidden="true"></i> Show Map</span>
        </button>
        <a class="btn calculateTyp" role="button"  routerLink='/typology' routerLinkActive='active' (click)="calculateTypology();">
          <span>Calculate energy efficiency</span>
        </a>
      </div>
      <div >
        <div class="card">
          <div class="card-body">
            <h5> Province: {{ building.region }} </h5>
            <p>Address: <i class="fa fa-map-marker" aria-hidden="true"></i> {{building.address}}
            </p>
            <div class="infoBuilding">
              <p>Year of construction: {{building.year}}</p>
              <div class="col-md-6" [hidden]="!selectYear">
                <label for="selectYear">Select year</label>
                <ng-select id="selectYear" [(ngModel)]="selectedYear" [items]="years" (change)="selectYearOption();"></ng-select>
              </div>
              <p [hidden]="!building.use">Use: {{building.use}}</p>
              <p [hidden]="!building.surface">Surface: {{building.surface}}&nbsp; &#13217;</p>
              <p [hidden]="!building.typology"> Typology: <span *ngIf="building.typology">{{building.typology.categoryName}}</span></p>
            </div>
            <p [hidden]="properties.length < 1">{{properties.length}} PROPERTIES</p>
            <div style="text-align: center" [hidden]="properties.length < 1">
              <img class="img-thumbnail" alt="Facade image" [src]='properties[0].image' *ngIf=" properties.length > 0 && properties[0].image" />
            </div>
            <div style="text-align: right">
              <div *ngIf="isUserLogged && !searchFromHistory" >
                <a href="#" (click)="addToFavorites(building);" *ngIf="!isAFavProperty"> Save to history
                  <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                </a>
                <a href="#" (click)="removeFromFavorites(building);" *ngIf="isAFavProperty"> Saved to history
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </a>
              </div>
              <div *ngIf="isUserLogged && searchFromHistory" >
                <a href="#" style="text-align: right;" (click)="removeFromFavorites(building);" *ngIf="isAFavProperty"> Saved to history
                  <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="properties.length < 1" class="seeMore">
        <div  class="cursor-pointer flex justify-center items-center h-16" role="button" data-toggle="collapse" data-target="#propertiesInfo">
          <div class="arrowFromLeft">
            <svg xmlns="http://www.w3.org/2000/svg" width="5.002" height="8.576" viewBox="0 0 5.002 8.576">
              <path d="M1.06,8.428a.5.5,0,0,1-.71,0l-.2-.2A.49.49,0,0,1,0,7.868V.708A.49.49,0,0,1,.15.348l.2-.2a.5.5,0,0,1,.71,0l3.79,3.79a.48.48,0,0,1,0,.7Z"></path>
            </svg><span>See Properties</span>
          </div>
        </div>
      </div>
      <div class="collapse" id="propertiesInfo">
        <div style="text-align: right">
          <a class="btn filterButton" data-bs-toggle="collapse" href="#" data-toggle="collapse" data-target="#filters">
        <span>
          <i class="fa fa-filter" aria-hidden="true"></i>
        </span>Filters</a>
        </div>

        <div class="collapse card filtersBuilding" id="filters">
          <div class="card-header"> <h4>Filters </h4> </div>
          <div  fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between center" class="card-body">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" >
              <label for="bl">Block</label>
              <input id="bl" type="text" class="form-control"  [(ngModel)]="modelFilters.filtBl" (keyup)="filterBuilding()" >

              <label for="es">Stairs</label>
              <input id ="es" type="text" class="form-control"  [(ngModel)]="modelFilters.filtEs" (keyup)="filterBuilding()" >
            </div>

            <div fxLayout="row" fxLayoutAlign="space-evenly center" >
              <label for="pt">Plant</label>
              <input id ="pt" type="text" class="form-control" [(ngModel)]="modelFilters.filtPt" (keyup)="filterBuilding()" >

              <label for="pu">Door</label>
              <input id ="pu" type="text" class="form-control" [(ngModel)]="modelFilters.filtPu" (keyup)="filterBuilding()" >
            </div>
            <button (click)="clearFilters();">Clear filters</button>
          </div>
        </div>
        <ul class="listBuild">
          <li  *ngFor="let mk of propertiesFilter">
            <h5> {{mk.locInt}} </h5>
            <p style="padding-left: 0">Cadastre reference: {{mk.rc}}</p>
            <div style="text-align: right">
              <button (click)="this.searchFromHistory = false; getDetailFromRC(mk.rc);" > More information > </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="detail"  *ngIf="propIsSelected && propSelected !== null">
    <div class="row">
      <button *ngIf="!searchFromHistory" type="button" class="btn col-md-4" (click)="propIsSelected = false; isAFavoriteProperty(building);"><i class="fa fa-arrow-left"></i> RETURN</button>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>DESCRIPTIVE DATA OF THE PROPERTY</h5>
      </div>
      <div style="text-align: center">
        <img class="card-img-top" [src]='facadeImage' alt="Facade image" />
      </div>
      <div class="card-body">
        <p class="card-text"> Cadastre Reference: {{ propSelected.rc}}</p>
        <p class="card-text"> Location: {{ propSelected.completeAddress}}</p>
        <p class="card-text"> Primary use: {{ propSelected.use}}</p>
        <p class="card-text"> Surface: {{ propSelected.surfaceCons}} &#13217;</p>
        <p class="card-text"> Construction year: {{ propSelected.yearConstruction}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">CATASTRAL PLOT</div>
      <div class="card-body">
        <p class="card-text"> Property participation: {{ propSelected.participation}} %</p>
      </div>
    </div>
  </div>
</div>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading ...</p>
</ngx-spinner>
<div *ngIf="hasError">
  <div class="container">
    <h6> {{error}}</h6>
  </div>
</div>
