button {
  color: #2888BA;
  background: transparent;
  font-weight: 700;
  border: 0;
}
button:disabled {
  cursor: not-allowed;
  color: #5d6d75b8;
}
img {
  width: 40%;
}
input {
  width: 20%;
}
.calculateTyp {
  color: #2888BA;
  background: transparent;
  border: 0;
  font-weight: 400;
  border-radius: 6px;
}
.calculateTyp:hover{
  background-color: #f7f7f7;
}

.information {
  height: 100vh;
  overflow: auto;
}

.detail {
  height: 90vh;
  overflow: auto;
}

.arrowFromLeft {
  overflow: hidden;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: transparent;
  color: #2888BA;
  position: relative;
}

.arrowFromLeft div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowFromLeft:hover span {
  transform: translateX(15px);
}

.arrowFromLeft:hover svg {
  opacity: 1;
  transform: translate(15px, -50%);
}

.arrowFromLeft span {
  display: inline-block;
  transition: transform .3s cubic-bezier(.455,.03,.515,.955);
  font-weight: 700;
}

.arrowFromLeft svg {
  position: absolute;
  top: 50%;
  left: 10px;
  fill: hsl(243, 80%, 62%);
  opacity: 0;
  transform: translate(-10px, -50%);
  transition: opacity .3s .05s cubic-bezier(.455,.03,.515,.955), transform .3s .05s cubic-bezier(.455,.03,.515,.955);
}
.seeMore {
  text-align: left;
}
.listBuild {
  list-style: none;
}
.listBuild li {
  padding: 1rem 0;
}

