<div class="relab-main">
    <div class="info-section">
      <section class="container">
        <div style="width: 50%; float: left;" class="col-md-6 content-text-generator text-justify">
          <h1 class="relab-title">
            Re-LAB
          </h1>
          <p style="color: #265F85;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        </section>
        <section>
            <div style="width: 50%; float: right; background-color: #DADEE2 !important; overflow: auto;" class="col-md-6">
            <img src="./assets/img/tools/camera-icon.jpeg" height="485" width="auto">
            </div>
        </section>
    </div>
    
    <div class="container">
      <hr>
    </div>
    
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem class="me-2">
        <h5>
          <a href="#reports" ngbNavLink>Reports</a>
        </h5>
        <ng-template ngbNavContent>
            <div class="reports-section">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <h6 class="badge badge-england">London, England</h6>
                    <h3 class="report-title">Donec vel moris arcu. Nunc auctor accumsan condimentum</h3>
                    <footer>12 May 2022</footer>
                    <img src="./assets/img/tools/camera-icon.jpeg" height="150" width="auto">
                    <hr>
                  </div>
                  <div class="col">
                    <h6 class="badge badge-france">Marseille, France</h6>
                    <h3 class="report-title">Donec vel moris arcu. Nunc auctor accumsan condimentum</h3>
                    <footer>12 May 2022</footer>
                    <p class="report-parrafo">
                      Mauris imperdiet urna et nibh fringilla ornare.
                      Nam non pharetra nulla. Mauris accumsan sodales finibus
                    </p>
                    <hr>
                  </div>
                  <div class="col">
                    <h6 class="badge badge-valencia">Valencia, Spain</h6>
                    <h3 class="report-title">Donec vel moris arcu. Nunc auctor accumsan condimentum</h3>
                    <footer>12 May 2022</footer>
                    <img src="./assets/img/tools/camera-icon.jpeg" height="150" width="auto">
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="badge badge-france">Marseille, France</h6>
                    <h3 class="report-title">Donec vel moris arcu. Nunc auctor accumsan condimentum</h3>
                    <footer>12 May 2022</footer>
                    <hr>
                  </div>
                  <div class="col">
                    <h6 class="badge badge-italy">Rome, Italy</h6>
                    <h3 class="report-title">Donec vel moris arcu. Nunc auctor accumsan condimentum</h3>
                    <footer>12 May 2022</footer>
                    <p class="report-parrafo">
                      Mauris imperdiet urna et nibh fringilla ornare.
                      Nam non pharetra nulla. Mauris accumsan sodales finibus
                    </p>
                    <hr>
                  </div>
                  <div class="col">
                    <h6 class="badge badge-england">London, England</h6>
                    <h3 class="report-title">Donec vel moris arcu. Nunc auctor accumsan condimentum</h3>
                    <footer>12 May 2022</footer>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem class="me-2">
        <h5>
          <a href="#articles" ngbNavLink>Articles</a>
        </h5>
        <ng-template ngbNavContent>
          <div class="articles-section">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3 class="report-title">Nulla rhoncus sagittis diam, ut interdum magna mollis nec</h3>
                  <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                  <footer class="author-article">By Thomas Drew</footer>
                  <footer>12 May 2022</footer>
                  <hr>
                </div>
                <div class="col">
                  <h3 class="report-title">Nulla rhoncus sagittis diam, ut interdum magna mollis nec</h3>
                  <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                  <footer class="author-article">By Thomas Drew</footer>
                  <footer>12 May 2022</footer>
                  <hr>
                </div>
                <div class="col">
                  <h3 class="report-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                  <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                  <footer class="author-article">By Thomas Drew</footer>
                  <footer>12 May 2022</footer>
                  <p class="report-parrafo">
                    Mauris imperdiet urna et nibh fringilla ornare.
                    Nam non pharetra nulla. Mauris accumsan sodales finibus
                  </p>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h3 class="report-title">Curabitur viverra eu orci nec congue. Suspendisse at tincidunt risus, ehoncus congue orci.</h3>
                  <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                  <footer class="author-article">By Thomas Drew</footer>
                  <footer>12 May 2022</footer>
                  <p class="report-parrafo">
                    Mauris imperdiet urna et nibh fringilla ornare.
                    Nam non pharetra nulla. Mauris accumsan sodales finibus
                  </p>
                  <hr>
                </div>
                <div class="col">
                  <h3 class="report-title">Curabitur viverra eu orci nec congue. Suspendisse at tincidunt risus, ehoncus congue orci.</h3>
                  <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                  <footer class="author-article">By Thomas Drew</footer>
                  <footer>12 May 2022</footer>
                  <hr>
                </div>
                <div class="col">
                  <h3 class="report-title">Curabitur viverra eu orci nec congue. Suspendisse at tincidunt risus, ehoncus congue orci.</h3>
                  <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                  <footer class="author-article">By Thomas Drew</footer>
                  <footer>12 May 2022</footer>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem class="me-2">
        <h5>
          <a href="#suppliers" ngbNavLink>Suppliers</a>
        </h5>
        <ng-template ngbNavContent>
              <div class="container">
                <div class="container button-filter-suppliers">
                  <div class="input-group col-md-3 search-box">
                    <button class="btn btn-primary boton-filtros filter-button-alph" type="button">A - Z</button>
                    <input class="form-control" type="search" [(ngModel)]="searchTextSupplier" placeholder="Search supplier..." id="example-search-input">&nbsp; &nbsp;
                    <button class="btn btn-primary boton-filtros" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Filters
                    </button>
                  </div>
                </div>
                <div class="tools row">
                  <div class="card card-tool col-md-3 justify-content-center" *ngFor="let user of tmpUser | filter:searchTextSupplier">
                    <img src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8=" height="auto" width="100" class="card-img-top rounded-circle">
                    <div class="card-body">
                      <a href="#/relab" (click)="openModal(user.user.user)"><h4>{{user.user.user.name}}</h4></a>
                      <p>Mauris imperdiet urna et nibh fringilla ornare. Nam non pharetra nulla. Mauris accusan sodales finibus.</p>
                    </div>
                  </div>
                </div>
                <!--<div class=" row">
                  <div class="col">
                    <div class="card card-tool justify-content-center">
                      <div class="card-header">
                          <img src="./assets/img/tools/camera-icon.jpeg" height="250" width="200" class="card-img-top rounded-circle">
                      </div>
                      <div class="card-body">
                        <a href="#/relab"><h4>Lorem ipsum dolor sit amet</h4></a>
                        <p>Mauris imperdiet urna et nibh</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-tool justify-content-center">
                      <div class="card-header">
                          <img src="./assets/img/tools/camera-icon.jpeg" height="250" width="200" class="card-img-top rounded-circle">
                      </div>
                      <div class="card-body">
                        <a href="#/relab"><h4>Lorem ipsum dolor sit amet</h4></a>
                        <p>Mauris imperdiet urna et nibh</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-tool justify-content-center">
                      <div class="card-header">
                          <img src="./assets/img/tools/camera-icon.jpeg" height="250" width="200" class="card-img-top rounded-circle">
                      </div>
                      <div class="card-body">
                        <a href="#/relab"><h4>Lorem ipsum dolor sit amet</h4></a>
                        <p>Mauris imperdiet urna et nibh</p>
                      </div>
                    </div>
                  </div>
                </div>-->
              </div>
        </ng-template>
      </ng-container>
    </nav>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  