<div>
  <div  fxLayout="row" fxLayoutAlign="end center" class="favoriteSection">
    <div *ngIf="isUserLogged && !searchFromHistory" >
      <a href="#" (click)="addToFavorites(building);" *ngIf="!building.favorite"> Save to history
        <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
      </a>
      <a href="#" (click)="removeFromFavorites(building);" *ngIf="building.favorite"> Saved to history
        <span><i class="fa fa-heart" aria-hidden="true"></i></span>
      </a>
    </div>
    <div *ngIf="isUserLogged && searchFromHistory" >
      <a href="#" style="text-align: right;" (click)="removeFromFavorites(building);" *ngIf="building.favorite"> Saved to history
        <span><i class="fa fa-heart" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
  <div>
    <div class="card card-accent-info">
      <div class="card-header">
        <h6>Building Information </h6>
      </div>
      <div class="card-body" style="background-color: #faf9f8">
        <p>Building type: {{building.typology.categoryName}}</p>
        <p>Year of construction: {{building.year}}</p>

          <div fxLayout="row" fxLayoutAlign="space-around center" >
            <button type="button" class="btn btn-type active" (click)="informationSelection = 1;"> BUILDING DATA </button>
            <button type="button" class="btn btn-type " (click)="informationSelection = 2;"> SYSTEM DATA </button>
            <button type="button" class="btn btn-type" (click)="informationSelection = 3;"> CHART 1 </button>
          </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around end" >
        <button type="button" class="btn btn-states btn-today active btn-lg" > TODAY </button>
        <button type="button" class="btn btn-states btn-low btn-lg" > LOW REFURBISHMENT </button>
        <button type="button" class="btn btn-states btn-high btn-lg" > HIGH REFURBISHMENT </button>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="informationSelection !== 1">
      <div class="col-md-4">
        <ng-container *ngFor="let env of building.typology.enveloped ">
          <div class="card"  fxLayout="column" fxLayoutAlign="space-between center">
            <div class="card-header">
              <h4>{{env.componentType}}</h4>
            </div>
              <img class="card-img-top" alt="Envelope image"  src="./assets/img/envelope/{{building.country}}/{{env.picture}}">

            <div class="card-body">
              <p>{{env.description}}</p>
              <p>{{env.typeConstruction}}</p>
              <p>{{env.uValue}}</p>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4">
        <ng-container *ngFor="let ref of lowRefurbishment ">
          <div class="card"  fxLayout="column" fxLayoutAlign="space-between center">
            <div class="card-header">
              <h4>{{ref.component_name}}</h4>
            </div>
              <img class="card-img-top" alt="Envelope image"  src="./assets/img/envelope/{{building.country}}/{{ref.picture}}">
            <div class="card-body">
              <p>{{ref.description}}</p>
              <p>{{ref.uValue}}</p>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-4">
        <ng-container *ngFor="let ref of highRefurbishment ">
          <div class="card"  fxLayout="column" fxLayoutAlign="space-between center">
            <div class="card-header">
              <h4>{{ref.component_name}}</h4>
            </div>
            <img class="card-img-top" alt="Envelope image"  src="./assets/img/envelope/{{building.country}}/{{ref.picture}}">
            <div class="card-body">
              <p>{{ref.description}}</p>
              <p>{{ref.uValue}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    <!--div class="col-sm-4 col-md-4">
      <div class="card card-accent-info">
        <div class="card-header">
          <h6>Energy Score</h6>
        </div>
        <div class="card-body" style="background-color: #faf9f8">
          <h6>Emissions</h6>
          <div id="generalPointer">
            <div class="pointer" id="emissions">
              <div class="cnt">
                <p>{{building.typology.energy.emissionRanking}}</p>
              </div>
            </div>
          </div>
          <h6>Consumptions</h6>
          <div class="pointer" id="consumption">
            <div class="cnt">
              <p> {{building.typology.energy.consumptionRanking}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-8">
      <div class="card card-accent-info">
        <div class="card-header">
          <h6>Score chart</h6>
        </div>
        <div class="card-body" style="background-color: #faf9f8">
          <ngx-charts-bar-vertical-stacked
            [view]="view"
            [scheme]="colorScheme"
            [results]="dataChart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [animations]="animations"
            [legendTitle]="legendTitle"
            >
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div-->
  </div>

</div>
