.titleSectionToday {
  border-radius: 10px 10px 0 0;
  background-color: #f5a9a9;
  color: white;
  text-align: center;
}
.titleSectionStandard {
  border-radius: 10px 10px 0 0;
  background-color: #ffbd04;
  color: white;
  text-align: center;
}
.titleSectionAdvanced {
  border-radius: 10px 10px 0 0;
  background-color: #bce39e;
  color: white;
  text-align: center;
}
.header-principal {
  background-color: #e5e5e5;
}
.rounded-section {
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}
.card-body {
  padding-right: 0;
  padding-left: 0;
}
.rounded-container {
  border: none;
  text-decoration: none;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.co2-section {
  margin-left: 50px;
  padding: 0;
  margin-right: 60px;
}
.rounded-button {
  color: white;
  background-color: #1980b5;
  border-radius: 20px;
  border-color: #1980b5;
  margin-top: 40px;
  padding: 15px;
  border-style: none;
  font-size: 17px;
  width: 120px;
  text-align: center;
}
.container-rounded {
  color: #1980b5;
  border-radius: 20px;
  border-color: #1980b5;
  margin-top: 40px;
  padding: 15px;
  border-style: none;
  font-size: 17px;
  width: 120px;
  text-align: center;
}
