<main>
  <div class="row selectLocation">
    <div class="col-md-3 tabs">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Properties</a>
          <ng-template ngbNavContent>
            <app-cadastre-info [properties]="properties" [history]="history"  [building]="building" [itemSelectedFromHistory] ="itemSelectedFromHistory"
                               [propSelectFromMap]="propertySelectedFormMap" (calculateTypologyEmitter)="calculateTypology($event)" (showMapEmitter)="showMapControl($event);"></app-cadastre-info>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" *ngIf="isUserLogged">
          <a ngbNavLink (click)="refreshFavorites();">History</a>
          <ng-template ngbNavContent>
            <app-history [history]="history" (itemSelectedFromHistoryEmitter)="receivePropFromHistory($event)" (historyFilteredEmitter)="receiveHistoryFiltered($event)"></app-history>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div *ngIf="showMap" class="col-md-9">
      <app-map (propertiesEmitter)="receivePoint($event)" (propSelectFromMapEmitter)="receivePropSelected($event)"  (coordinatesEmitter)="receiveCoordinates($event)" [history]="history" [itemSelectedFromHistory] ="itemSelectedFromHistory"
                [historyFilteredFromList]="historyFilteredFromList"></app-map>
    </div>
    <div *ngIf="showTypology && !showMap" id="typology" class="col-md-9" >
      <app-typology [typologies]="typologies"></app-typology>
    </div>
  </div>

</main>

