<app-header></app-header>
<main>
  <div class="row" style="height: 90vh;">
    <div class="col-md-3">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Properties</a>
          <ng-template ngbNavContent>
            <app-cadastre-info [properties]="properties" [history] = "history" [itemSelectedFromHistory] ="itemSelectedFromHistory"
                               [propSelectFromMap]="propertySelectedFormMap"></app-cadastre-info>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" *ngIf="isUserLogged">
          <a ngbNavLink (click)="refreshFavorites();">History</a>
          <ng-template ngbNavContent>
            <app-history [history] = "history" (itemSelectedFromHistoryEmitter)="receivePropFromHistory($event)" (historyFilteredEmitter)="receiveHistoryFiltered($event)"></app-history>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
    <div class="col-md-9">
      <app-map (propertiesEmitter)="receivePoint($event)" [history] = "history" [itemSelectedFromHistory] ="itemSelectedFromHistory"
               (propSelectFromMapEmitter)="receivePropSelected($event)" [historyFilteredFromList]="historyFilteredFromList"></app-map>
    </div>
  </div>
</main>
<footer>
  <!--div>
    <p>
      <a href="#">
        Leave us your Feedback
      </a>
    </p>
  </div-->
  <div style="text-align: right">
    <h5>ReModules Version: 1.1</h5>
  </div>
</footer>

