<div>
  <ul  ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
    <li [ngbNavItem]="1" class="nav-item" *ngIf="selectTypology">
      <a ngbNavLink >Typology</a>
      <ng-template ngbNavContent>
        <div >
          <p><b>Building:</b> {{building.typology.categoryName}}</p>
          <hr>
        </div>
        <div>
          <h3>
            Selection Building
          </h3>
          <p>
            1. Choose the building most similar to the one you are looking for
          </p>
          <hr>
        </div>
        <div fxLayout="row"
             fxLayout.lt-sm="column"
             fxLayoutGap="5px"
             fxLayoutAlign="space-between ">
          <ng-container *ngFor="let cat of typologies " >
            <div class="card" fxFlex="0 1 calc(100% - 5px)"
                 fxFlex.lt-md="0 1 calc(100% - 5px)"
                 fxFlex.lt-sm="100%" id="{{cat.categoryCode}}" >
              <div class="card-header">
                <h4>{{cat.categoryName}}</h4>
              </div>
                <a href="#" (click)="selectCategory(cat);">
                  <img class="card-img-top" alt="Building image"  src="./assets/img/typology/{{cat.country}}/{{cat.picName}}">
                </a>
              </div>
          </ng-container>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="nav-item" [disabled]="!building.typology.categoryName">
      <a ngbNavLink >Building Data</a>
      <ng-template ngbNavContent>
        <div >
          <p><b>Building:</b> {{building.typology.categoryName}}</p>
          <hr>
        </div>
        <div>
          <h3>
            Building Data
          </h3>
          <p>
            2.
          </p>
          <hr>
        </div>
        <div fxLayout="row"
             fxLayout.lt-sm="column"
             fxLayoutGap="5px"
             fxLayoutAlign="space-between ">
          <ng-container *ngFor="let env of building.typology.enveloped ">
            <div class="card" fxFlex="0 1 calc(33.3% - 5px)"
                 fxFlex.lt-md="0 1 calc(33.3% - 5px)"
                 fxFlex.lt-sm="100%">
              <div class="card-header">
                <h4>{{env.componentType}}</h4>
              </div>
              <a>
                <img class="card-img-top" alt="Envelope image"  src="./assets/img/envelope/{{building.country}}/{{env.picture}}">
              </a>
              <div class="card-body">
                <p>{{env.description}}</p>
                <p>{{env.typeConstruction}}</p>
                <p>{{env.uValue}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" class="nav-item" [disabled]="!building.typology.categoryName">
      <a ngbNavLink>System Type</a>
      <ng-template ngbNavContent>
        <div>
          <p><b>Building:</b> {{building.typology.categoryName}}</p>
          <hr>
        </div>
        <div>
          <h3>
            System Type
          </h3>
          <p>
            3.
          </p>
          <hr>
        </div>
        <div fxLayout="row"
             fxLayout.lt-sm="column"
             fxLayoutGap="5px"
             fxLayoutAlign="space-between ">
          <ng-container *ngFor="let st of building.typology.system ">
            <div class="card" fxFlex="0 1 calc(33.3% - 5px)"
                 fxFlex.lt-md="0 1 calc(33.3% - 5px)"
                 fxFlex.lt-sm="100%">
              <div class="card-header">
                <h4>{{st.sysType}}</h4>
              </div>
              <a>
                <img class="card-img-top" alt="Envelope image"  src="./assets/img/system/{{building.country}}/{{st.picture}}">
              </a>
              <div class="card-body">
                <p>{{st.description}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </li>
  </ul>

  <div class="typologyInfo" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px" >
    <a class="btn calculateTyp" role="button"  routerLink='/score' routerLinkActive='active' (click)="calculateEfficiency();" *ngIf="building.typology.enveloped.length > 0">
      <span> <i class="fa fa-cog" aria-hidden="true"></i> Calculate</span>
    </a>
  </div>
  <div class=" container" [ngbNavOutlet]="nav"
       fxLayout="column"
       fxLayoutGap="30px" >
  </div>
</div>

