<div class="typologySection">
  <div class="d-flex flex-row bd-highlight">
    <div class="p-2 bd-highlight">
      <i class="fa fa-battery-full fa-4x" aria-hidden="true" style="width: 70px;"></i>
    </div>
    <div class="p-2 bd-highlight">
      <h5><span  class="align-middle"><strong> CALCULATE THE ENERGY COST</strong></span></h5>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div [hidden]="building.properties.length < 1">
          <img class="img-thumbnail" alt="Facade image" [src]='building.properties[0].image' *ngIf=" building.properties.length > 0 && building.properties[0].image" width="170" height="170"/>
        </div>
      </div>
      <div class="col">
        <h5 [hidden]="!building.region"> Province: {{ building.region }} </h5>
        <p> <i class="fa fa-map-marker" aria-hidden="true"></i> <strong>&nbsp;{{building.address}}</strong>
        </p>
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-fill bd-highlight" *ngIf="building.surface">
            <span><img src="./assets/img/icons/square_foot_black_24dp.svg" alt="Surface" style="width: 16px!important;">&nbsp;{{building.surface}}&nbsp; &#13217; </span>
          </div>
          <div class="p-2 flex-fill bd-highlight">
            <p>Climate Region: <strong>Mediterranean</strong></p>
          </div>
        </div>
        <div class="col">
          <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{building.year}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion customData" id="accordionExample">
    <div class="card">
      <div class="card-header" id="typologySelectSection">
        <div class="row">
          <div class="col-md-6">
            <h4>
              1. Typology
            </h4>
          </div>
          <div class="col-md-4" *ngIf="building.typology" [hidden]="!building.typology.categoryName">
            <img class="card-img-top typologyIcon p-2 flex-fill bd-highlight" alt="Building image"  src="./assets/img/typology/{{building.country}}/{{building.typology.picName}}" >
            {{building.typology.categoryName}}
          </div>
          <div class="col-md-1">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div id="collapseOne" class="collapse show " aria-labelledby="typologySelectSection" data-parent="#accordionExample">
        <div class="d-flex bd-highlight" *ngIf="!hasSubCategories">
          <div *ngFor="let typ of typologies" class="d-flex bd-highlight">
            <a href="#" (click)="calculateEnvelopedSystems(typ);" >
              <img class="card-img-top typologyIcon p-2 flex-fill bd-highlight" alt="Building image"  src="./assets/img/typology/{{building.country}}/{{typ.picName}}" >
            </a>
            <h6 class="p-2 flex-fill bd-highlight">{{typ.categoryName}}</h6>
          </div>
        </div>
        <div class="d-flex bd-highlight" *ngIf="hasSubCategories">
          <div *ngFor="let typ of typologies" class="d-flex bd-highlight">
            <a href="#" (click)="selectTypo(typ);" >
              <img class="card-img-top typologyIcon p-2 flex-fill bd-highlight" alt="Building image"  src="./assets/img/typology/{{building.country}}/{{typ.picName}}" >
            </a>
            <h6 class="p-2 flex-fill bd-highlight">{{typ.categoryName}}</h6>
          </div>
        </div>
        <div class="typoSelected d-flex bd-highlight" *ngIf="hasSubCategories && typologySelected">
          <div class=" p-2 flex-fill bd-highlight typologyImageCont">
            <img class="card-img-top typologyImage" alt="Building image"  src="./assets/img/typology/{{building.country}}/{{typologySelected.picName}}" >
          </div>
          <div class=" p-2 flex-fill bd-highlight" *ngIf="subcategoriesTypo && subcategoriesTypo[typologySelected.categoryCode]">
            <div class="form-check" *ngFor="let sub of subcategoriesTypo[typologySelected.categoryCode].subcats">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{sub.category_pic_code}}" value="{{typologySelected}}" (click)="calculateEnvelopedSystems(typologySelected = sub.info)">
              <label class="form-check-label" for="{{sub.category_pic_code}}">
                {{sub.description}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="buildingDataSection">
        <div class="d-flex bd-highlight">
          <div class="col-md-6">
           <h4>2. Building Data </h4>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-1">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="buildingDataSection" data-parent="#accordionExample" [ngClass]="building.typology && building.typology.categoryCode ? 'show' : ''">
        <div class="d-flex bd-highlight" >
          <div *ngFor="let env of buildingSelection | keyvalue" class="p-2 flex-fill bd-highlight" [hidden]="!showTypoSelect" >
              <a class="componentEnv" [ngClass]="componentSelected.component === env.key ? 'env-selected' : ''" href="#" (click)="selectComponent(env.key, env.value);" *ngIf="env.value > 0" id="{{env.key}}">
                <i class="fa fa-home fa-2x col-md-6" aria-hidden="true" ></i>
                <span> {{env.key}}</span>
              </a>
          </div>
        </div>
        <div class="envelopeSelected  d-flex justify-content-center " *ngIf="componentSelected && componentSelected.value === 1">
          <div class="row" *ngIf="envelopedSelected && envelopedSelected.length > 0">
            <img class="card-img-top col-md col-sm col-lg typologyImage" alt="Building image"  src="./assets/img/envelope/{{building.country}}/{{envelopedSelected[0].picture}}" >
            <p class="col-md col-sm col-lg"> {{envelopedSelected[0].typeConstruction}}</p>
          </div>
        </div>
        <div class="envelopeSelected d-flex justify-content-center row" *ngIf="componentSelected && componentSelected.value > 1">
          <div class="row col-md col-sm " *ngFor="let env of envelopedSelected;">
            <img class="card-img-top typologyImage col-md col-sm col-lg" alt="Building image"  src="./assets/img/envelope/{{building.country}}/{{env.picture}}" alt="{{env.componentType}}">
            <p class=" col-md col-sm col-lg"> {{env.typeConstruction}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="systemTypeSection">
        <div class="d-flex bd-highlight">
          <div class="col-md-5">
            <h4>
              3. System Type
            </h4>
          </div>
          <div class="col-md-6">
            <ng-select [(ngModel)]="codeSystemMeasureSelected" appendTo="body" (change)="selectSystem(1); enableCalculate=true;" [searchable]="true" [clearable]="true">
              <ng-option *ngFor="let sys of systems" [value]="sys.codeSystemMeasure">{{sys.description}}</ng-option>
            </ng-select>
          </div>
          <div class="col-md-1">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div id="collapseThree" class="collapse show" aria-labelledby="systemTypeSection" data-parent="#accordionExample">
        <div class="d-flex bd-highlight" [hidden]="!categorySystem">
          <div class="p-2 flex-fill bd-highlight">
            <a  class="componentSys" href="#" (click)="selectSystem(1);"  id="heating"><i class="fa fa-home fa-2x col-md-6" aria-hidden="true" ></i>
            Heating</a>
          </div>
          <div class="p-2 flex-fill bd-highlight">
            <a class="componentSys" href="#" (click)="selectSystem(2);"  id="water"><i class="fa fa-home fa-2x col-md-6" aria-hidden="true" ></i>
            Water
            </a>
          </div>
          <div class="p-2 flex-fill bd-highlight">
            <a class="componentSys" href="#" (click)="selectSystem(3);" id="ventilation"><i class="fa fa-home fa-2x col-md-6" aria-hidden="true" ></i>
              Ventilation
            </a>
          </div>
        </div>
        <div class="envelopeSelected d-flex bd-highlight" *ngIf="categorySystem && categorySystem.name">
          <div class=" p-2 flex-fill bd-highlight typologyImageCont">
            <img class="card-img-top typologyImage" alt="Building image"  src="./assets/img/system/{{building.country}}/{{categorySystem.picture}}" >
          </div>
          <div class=" p-2 flex-fill bd-highlight">
            <h6>{{categorySystem.description}}</h6>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div >
    <div class="d-flex justify-content-around typologyInfo">
      <button  class="btn calculateTyp" (click)="goBack();">
        <h4>
          <span> <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; Back</span>
        </h4>

      </button>
      <button role="button" (click)="calculateEfficiency();" class="btn calculateTyp" [disabled]="!enableCalculate">
        <h4>
          <span> Next &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </h4>
      </button>
    </div>
  </div>
  <!--div class="container" [ngbNavOutlet]="nav"
       fxLayout="column"
       fxLayoutGap="30px" >
  </div-->
</div>

