.apply{
    background-color: #004470;
    border: none;
}

.calculateTyp {
    color: #2888BA;
    background: transparent;
    border: 0;
    font-weight: 400;
    border-radius: 6px;
}

.calculateTyp:hover{
    background-color: #f7f7f7;
    color: #004470 !important;
}

.calculateTyp {
    color: white;
    background-color: #004470;
    border-radius: 20px;
    margin-top: 40px;
    padding: 20px;
  }
  .calculateTyp:hover{
    background-color: #f7f7f7;
    color: #616060;
  }