<div class="container">
  <div>
    <div>
      <div class="card text-dark bg-light mb-3">
        <div class="card-title">
          Typology
        </div>
        <div class="card-body" *ngIf="chartOptionsTypology">
          <highcharts-chart
            [Highcharts]="typologyChart"
            [options]="chartOptionsTypology" ></highcharts-chart>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-dark bg-light mb-3">
        <div class="card-title">
          Energy Cost
        </div>
        <div class="card-body" *ngIf="chartOptionsEnergy">
          <highcharts-chart
            [Highcharts]="energyChart"
            [options]="chartOptionsEnergy" ></highcharts-chart>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-dark bg-light mb-3">
        <div class="card-title">
          Number of Buildings saved
        </div>
        <div class="card-body">
          <div class="rounded-container" style="background-color: #f5a9a9;" *ngIf="userHistory">
            <h2>{{userHistory.length}} Buildings</h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card text-dark bg-light mb-3">
        <div class="card-title">
          Renewable energy
        </div>
        <div class="card-body" *ngIf="chartOptionsPrimaryEnergy">
          <highcharts-chart
            [Highcharts]="primaryEnergyChart"
            [options]="chartOptionsPrimaryEnergy" ></highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>
