.rounded-container {
  border: none;
  text-decoration: none;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
}
