// Variable overrides
$theme-colors: (
  'primary': #1a80b6,
  'secondary': #ef9a3d
);
$fa-font-path: '../../node_modules/font-awesome/fonts';

$primary: #1a80b6;
$secondary: #ef9a3d;
$gray-body: #fbfffd;
$gray-100: #fbfffd;
$button-active: #808080bf;
